alert http any any -> any any (msg:"Exchange code execution vulnerability attack (CVE-2022-41040/CVE-2022-41082)"; flow:established,to_server; http.uri; content:"/autodiscover/autodiscover.json?"; nocase; fast_pattern; http.uri; content:"Email=autodiscover/autodiscover.json"; nocase; metadata:target="exchange", cve="CVE-2022-41040", cve="CVE-2022-41082", attack="T1190"; sid:9900001; rev:3;)
alert http any any -> $HOME_NET any (msg:"Fortinet FortiOS directory traversal attack (CVE-2018-13379)"; flow:established,to_server; http.uri; content:"/remote/fgt_lang?lang="; fast_pattern; pcre:"/(\.\.\/\.\.\/|\.\.%2F\.\.%2F)/i"; metadata:target="Fortinet FortiOS", cve="CVE-2018-13379", attack="T1190"; sid: 9900002; rev:3;)
alert http any any -> any any (msg:"Exchange Server OWASSRF code execution vulnerability attack (CVE-2022-41080)"; flow:established,to_server; http.method; content:"POST"; http.uri; content:"/owa/mastermailbox%40outlook.com/powershell"; fast_pattern; nocase; startswith; http.raw_header; content:"X-Owa-Explicitlogonuser: owa/mastermailbox@outlook.com"; nocase; http.body; content:"<s:Envelope xmlns:rsp="; startswith; nocase; content:"<creationXml xmlns="; nocase; content:"</creationXml>"; nocase; metadata:target="exchange Server OWASSRF", cve="CVE-2022-41080", attack="T1190"; classtype:exploit-attack; sid: 9900003; rev:2; )
